.App {
  text-align: center;
}

/* ----------- */

.question-container {
  height: 200px;
  width: 800px; 
  border: 2px solid black;
  margin: 0 auto;
}

.review {
  border: 2px solid black;
  height: 200px;
  width: 800px;
  margin: 100px auto;
  display: inline-block;
}

.review-items {

}



.next-button {
  float: right;
}

.select-label{
  color: #033076;

}