.App {
  text-align: center;
}

/* ----------- */

.question-container {
  height: 200px;
  width: 800px; 
  border: 2px solid black;
  margin: 0 auto;
}

.next-button {
  float: right;
}

.select-label{
  color: #033076;

}